[class*="announcementBar"] {
  background-color: var(--ifm-background-surface-color);
  color: var(--ifm-font-color-base);
  flex-basis: 0 !important;
  .close {
    opacity: inherit;
    padding: 8px;
  }
}

[class^='announcementBarContent'] a {
  color: var(--ifm-link-color);
  text-decoration: inherit;
  &:hover {
    text-decoration: underline;
  }
}
