:root {
  --BGdots: rgba(0, 0, 0, 14%);
}

[data-theme='dark'] {
  --BGdots: rgba(255, 255, 255, 11%);
}

#section-front-back,
#section-about {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    background-image: radial-gradient(var(--BGdots) 8%, transparent 8%);
    background-size: 24px 24px;
    inset: 2rem;
  }
}

