@use 'sass:map';

@forward '~@avo/monorepo/doku_libs/styles/components';
@use '~@avo/monorepo/doku_libs/styles/theme';

// colors
:root {
  @include theme.avo-green;
  --ifm-footer-color: hsl(197, 100%, 16%);
  --ifm-footer-background-color: var(--ifm-color-primary-light);
}
[data-theme='dark'] {
  @include theme.avo-green;
  --ifm-footer-background-color: var(--ifm-color-primary);
}
