@use 'sass:map';

@forward './fonts';
@forward './bgDots';
@forward '~@avo/monorepo/doku_libs/styles/components';
@use '~@avo/monorepo/doku_libs/styles/theme';

// colors
:root {
  @include theme.avo-green;
}

[data-theme='dark'] {
}


#section-header p a {
  &:before {
    inset-block-end: inherit;
    inset-inline-start: 0;
    inset-inline-end: 0;
    transform-origin: top left;
    transform: scaleY(1);
    background-color: var(--ifm-color-content);
  }

  &:hover:before {
    transform-origin: bottom left;
    transform: scaleY(0);
  }
}
